@charset "UTF-8";
/* CSS Document */

/* Universal Styles */
.image-content {
  display: flex;
  flex-direction: column;
  height: 300px;
  font-family: 'Georgia';
  font-weight: bold;
  color: white;
  font-size: 30px;
}
/*  Header */

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color:MediumAquamarine;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 20px;
}

.logo img {
  margin-right: 10px;
  width: 70px;
  height: 60px;
}

.logo span {

}

nav {
  padding-right: 40px;
}


nav span {
  padding-right: 15px;
}

nav a {
  text-decoration: none;
  color:MediumAquamarine;
}

nav a:hover {
  color: black;
}

/* Main Content */

.content {
  display: flex;
  width: 1300px;
  margin: 0px auto 78px auto;
  padding-top: 116px;
}

div {
  border: 1px solid black;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

/* Large Column */
.column.large {
  width: 630px;
}

.lead-story .image-content {
  background-image: url(../images/img-story-main.png);
  width: 630px;
  margin-top: 0;
  font-size: 40px;
  text-align: left;
}

/* Medium Column */
.column.medium {
  width: 300px;
}

/* Small Column */
.column.small {
  width: 240px;
}
